.ProfilePage {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "photo nothing buttons"
        "json json json";
}

.ProfilePage-photo {
    height: 20vh;
    grid-area: photo;
}
.ProfilePage-photo > img {
    height: 100%;
}
.ProfilePage-json {
    padding: 1em 0;
    display: block;
    text-align: left;
    grid-area: json;
}
.ProfilePage-jsonEl {
    margin-left: 20vw;
    display: block;
    text-indent: -15vw;
}