.Header {
    margin: 0;
    height: 20vh;
    min-height: 150px;
    background: black;
    color: rgb(197, 134, 192);
    font-size: calc(40px + 6 * ((100vw - 320px) / 680));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

